---
export const prerender = true;
import { Image } from "astro:assets";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { SITE } from "@config";
import Footer from "@components/Footer.astro";
import { getAllAlbumTitles } from "@utils/albums";
import DefaultImage from "@assets/elektroplazma.jpg";

const albums = await getAllAlbumTitles();
---

<Layout title={`gallery | ${SITE.title}`}>
  <Header activeNav="gallery" />
  <Main pageTitle="gallery" pageDesc="////////...">
    <div class="container mx-auto grid max-w-screen-sm grid-cols-2 gap-8">
      {
        albums.map(item => (
          <a
            href={`/gallery/${item.slug}`}
            class="group mb-4 block transition-all"
          >
            {item.cover ? (
              <img
                src={item.cover}
                alt={item.title}
                class="rounded-sm transition-all group-hover:opacity-90 group-hover:shadow-lg w-full h-auto"
                loading="lazy"
              />
            ) : (
              <Image
                src={DefaultImage}
                alt={item.title || "Event image"}
                format="avif"
                quality="mid"
                class:list={[
                  "rounded-sm transition-all",
                  "group-hover:opacity-90 group-hover:shadow-lg",
                ]}
              />
            )}
            <div class="mt-4 text-center">
              <strong class="font-normal">{item.title}</strong>
            </div>
          </a>
        ))
      }
    </div>
  </Main>
  <Footer />
</Layout>
